In [1]:
from pykrx import stock
from pykrx import bond
import FinanceDataReader as fdr

from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings(action='ignore')

#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
sns.set()
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False


#-------------------- 주피터 , 출력결과 넓이 늘리기 ---------------
from IPython.core.display import display, HTML
display(HTML("<style>.container{width:100% !important;}</style>"))
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', None)

# Data Load

In [2]:
from pykrx import stock
from pykrx import bond

In [3]:
stock_ticker=stock.get_market_ticker_list("20200312",market='KOSPI') #KOSPI, KOSDAQ, KONEX
stock_ticker[:5]

['095570', '006840', '027410', '282330', '138930']

In [4]:
stock_name_list=[]
for ticker in stock_ticker:
    name=stock_name=stock.get_market_ticker_name(ticker)
    stock_name_list.append(name)

In [5]:
dic={'stock_ticker':stock_ticker,'stock_name':stock_name_list}
stock_df=pd.DataFrame(dic)
stock_df.head()

  stock_ticker stock_name
0       095570     AJ네트웍스
1       006840      AK홀딩스
2       027410        BGF
3       282330     BGF리테일
4       138930    BNK금융지주

In [6]:
# 20220103~20221229
# df = stock.get_market_ohlcv("2022-03-09", "2022-03-13", "005930")[['종가','등락률']]
# df.head()

               종가   등락률
날짜
2022-01-03  78600  0.38
2022-01-04  78700  0.13
2022-01-05  77400 -1.65
2022-01-06  76900 -0.65
2022-01-07  78300  1.82

In [12]:
stock.get_market_ohlcv("2022-03-09", "2022-03-13", "005930")['종가']

날짜
2022-03-10    71200
2022-03-11    70000
Name: 종가, dtype: int32

In [19]:
ohlcv_list=[]
for i in stock_ticker[:5]:
    ohlcv_list.append(stock.get_market_ohlcv("2022-03-09", "2022-03-31", i)['종가'])
    print(ohlcv_list)

[날짜
2022-03-10    5650
2022-03-11    5670
2022-03-14    5670
2022-03-15    5670
2022-03-16    5650
2022-03-17    5650
2022-03-18    5510
2022-03-21    5800
2022-03-22    5760
2022-03-23    5810
2022-03-24    6100
2022-03-25    6030
2022-03-28    6180
2022-03-29    6080
2022-03-30    6170
2022-03-31    6190
Name: 종가, dtype: int32]
[날짜
2022-03-10    5650
2022-03-11    5670
2022-03-14    5670
2022-03-15    5670
2022-03-16    5650
2022-03-17    5650
2022-03-18    5510
2022-03-21    5800
2022-03-22    5760
2022-03-23    5810
2022-03-24    6100
2022-03-25    6030
2022-03-28    6180
2022-03-29    6080
2022-03-30    6170
2022-03-31    6190
Name: 종가, dtype: int32, 날짜
2022-03-10    20650
2022-03-11    21350
2022-03-14    21350
2022-03-15    21500
2022-03-16    22300
2022-03-17    22100
2022-03-18    21850
2022-03-21    21800
2022-03-22    22150
2022-03-23    22100
2022-03-24    21550
2022-03-25    21550
2022-03-28    21800
2022-03-29    21900
2022-03-30    22100
2022-03-31    21950
Name: 종가, dtype: int32]
[날짜
2022-03-10    5650
2022-03-11    5670
2022-03-14    5670
2022-03-15    5670
2022-03-16    5650
2022-03-17    5650
2022-03-18    5510
2022-03-21    5800
2022-03-22    5760
2022-03-23    5810
2022-03-24    6100
2022-03-25    6030
2022-03-28    6180
2022-03-29    6080
2022-03-30    6170
2022-03-31    6190
Name: 종가, dtype: int32, 날짜
2022-03-10    20650
2022-03-11    21350
2022-03-14    21350
2022-03-15    21500
2022-03-16    22300
2022-03-17    22100
2022-03-18    21850
2022-03-21    21800
2022-03-22    22150
2022-03-23    22100
2022-03-24    21550
2022-03-25    21550
2022-03-28    21800
2022-03-29    21900
2022-03-30    22100
2022-03-31    21950
Name: 종가, dtype: int32, 날짜
2022-03-10    5180
2022-03-11    5230
2022-03-14    5160
2022-03-15    5190
2022-03-16    5220
2022-03-17    5240
2022-03-18    5250
2022-03-21    5260
2022-03-22    5250
2022-03-23    5240
2022-03-24    5300
2022-03-25    5300
2022-03-28    5280
2022-03-29    5280
2022-03-30    5330
2022-03-31    5320
Name: 종가, dtype: int32]
[날짜
2022-03-10    5650
2022-03-11    5670
2022-03-14    5670
2022-03-15    5670
2022-03-16    5650
2022-03-17    5650
2022-03-18    5510
2022-03-21    5800
2022-03-22    5760
2022-03-23    5810
2022-03-24    6100
2022-03-25    6030
2022-03-28    6180
2022-03-29    6080
2022-03-30    6170
2022-03-31    6190
Name: 종가, dtype: int32, 날짜
2022-03-10    20650
2022-03-11    21350
2022-03-14    21350
2022-03-15    21500
2022-03-16    22300
2022-03-17    22100
2022-03-18    21850
2022-03-21    21800
2022-03-22    22150
2022-03-23    22100
2022-03-24    21550
2022-03-25    21550
2022-03-28    21800
2022-03-29    21900
2022-03-30    22100
2022-03-31    21950
Name: 종가, dtype: int32, 날짜
2022-03-10    5180
2022-03-11    5230
2022-03-14    5160
2022-03-15    5190
2022-03-16    5220
2022-03-17    5240
2022-03-18    5250
2022-03-21    5260
2022-03-22    5250
2022-03-23    5240
2022-03-24    5300
2022-03-25    5300
2022-03-28    5280
2022-03-29    5280
2022-03-30    5330
2022-03-31    5320
Name: 종가, dtype: int32, 날짜
2022-03-10    169500
2022-03-11    175000
2022-03-14    171000
2022-03-15    173000
2022-03-16    179000
2022-03-17    175000
2022-03-18    177500
2022-03-21    178000
2022-03-22    179000
2022-03-23    180000
2022-03-24    180000
2022-03-25    181000
2022-03-28    176000
2022-03-29    173000
2022-03-30    173500
2022-03-31    174500
Name: 종가, dtype: int32]
[날짜
2022-03-10    5650
2022-03-11    5670
2022-03-14    5670
2022-03-15    5670
2022-03-16    5650
2022-03-17    5650
2022-03-18    5510
2022-03-21    5800
2022-03-22    5760
2022-03-23    5810
2022-03-24    6100
2022-03-25    6030
2022-03-28    6180
2022-03-29    6080
2022-03-30    6170
2022-03-31    6190
Name: 종가, dtype: int32, 날짜
2022-03-10    20650
2022-03-11    21350
2022-03-14    21350
2022-03-15    21500
2022-03-16    22300
2022-03-17    22100
2022-03-18    21850
2022-03-21    21800
2022-03-22    22150
2022-03-23    22100
2022-03-24    21550
2022-03-25    21550
2022-03-28    21800
2022-03-29    21900
2022-03-30    22100
2022-03-31    21950
Name: 종가, dtype: int32, 날짜
2022-03-10    5180
2022-03-11    5230
2022-03-14    5160
2022-03-15    5190
2022-03-16    5220
2022-03-17    5240
2022-03-18    5250
2022-03-21    5260
2022-03-22    5250
2022-03-23    5240
2022-03-24    5300
2022-03-25    5300
2022-03-28    5280
2022-03-29    5280
2022-03-30    5330
2022-03-31    5320
Name: 종가, dtype: int32, 날짜
2022-03-10    169500
2022-03-11    175000
2022-03-14    171000
2022-03-15    173000
2022-03-16    179000
2022-03-17    175000
2022-03-18    177500
2022-03-21    178000
2022-03-22    179000
2022-03-23    180000
2022-03-24    180000
2022-03-25    181000
2022-03-28    176000
2022-03-29    173000
2022-03-30    173500
2022-03-31    174500
Name: 종가, dtype: int32, 날짜
2022-03-10    7490
2022-03-11    7600
2022-03-14    7610
2022-03-15    7620
2022-03-16    7660
2022-03-17    7700
2022-03-18    7760
2022-03-21    7720
2022-03-22    7780
2022-03-23    7880
2022-03-24    7850
2022-03-25    7850
2022-03-28    7960
2022-03-29    7970
2022-03-30    7910
2022-03-31    7960
Name: 종가, dtype: int32]

In [27]:
ohlcv_df=pd.DataFrame(ohlcv_list)
ohlcv_df=ohlcv_df.T
ohlcv_df.columns=stock_name_list[:5]
ohlcv_df.head()

            AJ네트웍스  AK홀딩스   BGF  BGF리테일  BNK금융지주
날짜
2022-03-10    5650  20650  5180  169500     7490
2022-03-11    5670  21350  5230  175000     7600
2022-03-14    5670  21350  5160  171000     7610
2022-03-15    5670  21500  5190  173000     7620
2022-03-16    5650  22300  5220  179000     7660

In [31]:
ohlcv_df=ohlcv_df.pct_change()
ohlcv_df.dropna(inplace=True,axis=0)

In [32]:
log_ohlcv_df=np.log(1+ohlcv_df)
log_ohlcv_df.head()

              AJ네트웍스     AK홀딩스       BGF    BGF리테일   BNK금융지주
날짜
2022-03-11  0.003534  0.033336  0.009606  0.031933  0.014579
2022-03-14  0.000000  0.000000 -0.013475 -0.023122  0.001315
2022-03-15  0.000000  0.007001  0.005797  0.011628  0.001313
2022-03-16 -0.003534  0.036534  0.005764  0.034094  0.005236
2022-03-17  0.000000 -0.009009  0.003824 -0.022600  0.005208

In [ ]:
annual_return=ohlcv_df.mean(*252)

In [58]:
ㅇㄻㅇㄹㄴㅁㄹㅇ

NameError: name 'ᄋᆱᄋᄅᄂᄆᄅᄋ' is not defined

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">안녕하세요</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
"""

soup = BeautifulSoup(html_doc, 'html.parser')
print(soup.prettify())

In [ ]:
res = requests.get("https://www.asiae.co.kr/section/economy")
print(res.status_code)
res.text[:1000]

In [ ]:
#container > div.content > div.cont_section_body > div.area_seclstview > div > div:nth-child(1) > ul

In [ ]:
# soup = BeautifulSoup(res.text,'html.parser',from_encoding='cp949')
# soup = BeautifulSoup(res.content.decode('euc-kr', 'replace'), 'html.parser',from_encoding='cp949')
soup = BeautifulSoup(res.content, 'html.parser', from_encoding='utf-8')
# soup = BeautifulSoup(res.text, 'html.parser',from_encoding='cp949')

news_list=[]
li_list = soup.select("#container > div.content > div.cont_section_body > div.area_seclstview > div > div:nth-child(1) > ul > li")
# print(li_list)
for li in li_list:
    title    = li.select_one("div.inner_txt > h3 > a").text
    regdate  = li.select_one("div.inner_txt > p.txt_time > span.t_time").text
    contents = li.select_one("div.inner_txt > p.txt_info").text
    href     = li.select_one("div.inner_txt > h3 > a").get('href')
    news_list.append(   [title,regdate,contents,href]   )
news_list

In [ ]:
craw_df=pd.DataFrame(news_list, columns=['title','regdate','contents','href'])
craw_df