# 랜덤 설정좌수, 환매좌수

In [10]:
CU = 50000

rnd = np.random.randint(1, high=5, size=742, dtype=int)
설정 = rnd#*CU

rnd = np.random.randint(1, high=5, size=742, dtype=int)
환매 = rnd#*CU

temp = pd.DataFrame({"설정":설정, "환매":환매})
temp.head()

   설정  환매
0   4   4
1   1   4
2   3   2
3   2   2
4   3   4

In [11]:
temp.loc[temp['설정']<temp['환매'], '환매'].index

Int64Index([  1,   4,   8,  14,  17,  18,  26,  28,  32,  34,
            ...
            720, 723, 724, 726, 731, 735, 737, 738, 740, 741],
           dtype='int64', length=253)

In [12]:
temp['환매'] = temp.apply(lambda df :  df['설정']-1 if df['설정']<df['환매'] else df['환매'], axis=1)
temp.head()

   설정  환매
0   4   4
1   1   0
2   3   2
3   2   2
4   3   2

In [15]:
temp.loc[temp['설정']<temp['환매'], '환매'].index

Int64Index([], dtype='int64')

In [14]:
temp = temp*CU
temp.loc[0] = [1000000, 0]
temp.head()

        설정      환매
0  1000000       0
1    50000       0
2   150000  100000
3   100000  100000
4   150000  100000

In [16]:
temp.index = tot_df.index

In [17]:
temp.head()

                 설정      환매
날짜
2020-01-02  1000000       0
2020-01-03    50000       0
2020-01-06   150000  100000
2020-01-07   100000  100000
2020-01-08   150000  100000

In [18]:
temp.to_csv("./실습07_설정환매_랜덤.csv")